/* ==========================================================================
   #INPUT
   ========================================================================== */

/**
* 1.Override default outline of input active state
*/
input {
  &:focus {
    outline: none;
    /*[1]*/
  }
}

[type="search"],
[type="text"] {
  border: none;
  background-color: $global-white;
  border-radius: $global-radius;
}