doctype html
<!--[if IE 8]>
<html lang="en" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->


  head
    title= mobile

    // fix favicon error
    link(rel='shortcut icon' href='#')

    block style

    // stylesheets
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/font-awesome/css/all.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css')



    // script on head
    block script-head


  body

    // header
    block header
      header.c-header


        //- #NAV-TOP
        nav.c-header__topnav
          .c-header__topnav-wrapper
            ul.c-header__topnav-list
              li.c-header__topnav-item
                a(href='#0')
                  span Sell
              li.c-header__topnav-item
                a(href='#0')
                  span Registry
              li.c-header__topnav-item
                a(href='#0')
                  span Gift Cards
              li.c-header__topnav-item
                a(href='#0')
                  span Buy Again
              li.c-header__topnav-item
                a(href='#0')
                  span Account
              li.c-header__topnav-item
                a(href='#0')
                  span FAQ
              li.c-header__topnav-item
                a(href='#0')
                  span History
              li.c-header__topnav-item
                a(href='#0')
                  span Registry
              li.c-header__topnav-item
                a(href='#0')
                  span Today&apos;s Deals
        //- /Nav Top




        //- #NAV-MAIN
        .o-layout.c-header__nav
          .o-layout__item.c-header__nav-logo.left(class='u-1/10')
            a(href='/')
              svg.c-header__nav-logo-img(viewbox='0 0 256 315', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', preserveaspectratio='xMidYMid')
                g
                  path(d='M213.803394,167.030943 C214.2452,214.609646 255.542482,230.442639 256,230.644727 C255.650812,231.761357 249.401383,253.208293 234.24263,275.361446 C221.138555,294.513969 207.538253,313.596333 186.113759,313.991545 C165.062051,314.379442 158.292752,301.507828 134.22469,301.507828 C110.163898,301.507828 102.642899,313.596301 82.7151126,314.379442 C62.0350407,315.16201 46.2873831,293.668525 33.0744079,274.586162 C6.07529317,235.552544 -14.5576169,164.286328 13.147166,116.18047 C26.9103111,92.2909053 51.5060917,77.1630356 78.2026125,76.7751096 C98.5099145,76.3877456 117.677594,90.4371851 130.091705,90.4371851 C142.497945,90.4371851 165.790755,73.5415029 190.277627,76.0228474 C200.528668,76.4495055 229.303509,80.1636878 247.780625,107.209389 C246.291825,108.132333 213.44635,127.253405 213.803394,167.030988 M174.239142,50.1987033 C185.218331,36.9088319 192.607958,18.4081019 190.591988,0 C174.766312,0.636050225 155.629514,10.5457909 144.278109,23.8283506 C134.10507,35.5906758 125.195775,54.4170275 127.599657,72.4607932 C145.239231,73.8255433 163.259413,63.4970262 174.239142,50.1987249', fill='#000000')
          .o-layout__item.c-header__nav-search(class='u-6/10')
            form.c-searchbar(method='get', role='search', accept-charset='utf-8')
              .c-searchbar__box
                input(type='search', placeholder='Search anything...', aria-label='Search', data-border='rounded')
                .c-searchbar__button
                  span.c-searchbar__button-icon
                    i.fas.fa-search.medium
                  input(type='submit', tabindex='20', value='Go')
          .o-layout__item.c-header__nav-tool.right(class='u-3/10')
            a(href='#', data-display='inline-flex', data-hover='darkblue')
              i.fas.fa-globe.large(class='[ ]')
              span.c-header__nav-tool-text English
            a(href='#', data-display='inline-flex', data-hover='darkblue')
              i.fas.fa-user.large(class='[ ]')
              span.c-header__nav-tool-text
                span
                  | Hello,
                  span.u-txt--bold Karl Max
                br
                |                         Account Settings
            a.c-header__cart(href='#', data-display='inline-flex', data-hover='darkblue')
              i.fas.fa-shopping-cart.large(class='[ ]')
                // <span class="c-header__cart-counter">1</span>
              span.c-header__nav-tool-text
                | Cart
                span.u-txt--bold 1
        //- /Main Nav




    block body

    // script before end body
    block script-body
      script(src='/jquery/jquery-3.4.1.min.js')
      script(type='text/javascript' src='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js')


  // #FOOTER
  footer.c-footer
    .c-footer__content
      .o-col.o-col--small.o-col--center.c-footer__nav(class='[ ]')
        .o-col__item
          ul.o-list-bare
            li.c-footer__nav-item.parent
              | Get to know us
            li.c-footer__nav-item.child Career
            li.c-footer__nav-item.child Blog
            li.c-footer__nav-item.child About Us
            li.c-footer__nav-item.child Investion Relations
            li.c-footer__nav-item.child Our Devices
            li.c-footer__nav-item.child Our Tours
        .o-col__item.o-col__separator
        .o-col__item
          ul.o-list-bare
            li.c-footer__nav-item.parent Make Money With Us
            li.c-footer__nav-item.child Sell on Xyz
            li.c-footer__nav-item.child Sell Your Services on Xyz
            li.c-footer__nav-item.child Sell on Xyz Business
            li.c-footer__nav-item.child Sell Your Apps on Xyz
            li.c-footer__nav-item.child Advertise Your Products
            li.c-footer__nav-item.child Self-Publish With Us
        .o-col__item.o-col__separator
        .o-col__item
          ul.o-list-bare
            li.c-footer__nav-item.parent
              | Xyz Payment Products
            li.c-footer__nav-item.child Xyz Business Card
            li.c-footer__nav-item.child Shop With Points
            li.c-footer__nav-item.child Reload Your Balance
            li.c-footer__nav-item.child Xyz Currency Converter
        .o-col__item.o-col__separator
        .o-col__item
          ul.o-list-bare
            li.c-footer__nav-item.parent
              | Let Us Help You
            li.c-footer__nav-item.child Your Account
            li.c-footer__nav-item.child Your Order
            li.c-footer__nav-item.child Return &amp; Replacements
            li.c-footer__nav-item.child Manage Your Content and Devices
    // #COPYRIGHT
    .c-footer__bottom
      .c-footer__copyright.u-txt--blur &copy; 1996-2019, Xyz.com, Inc. or its affiliates
    // /Copyright
  // /Footer



