/* ==========================================================================
   #DISPLAY
   ========================================================================== */

.u-d-block {
  display: block;;
}

.u-d-iblock {
  display: inline-block;
}

.u-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
