/* ==========================================================================
   #FLEX
   ========================================================================== */

.u-fd--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.u-fw--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.u-ai--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-as--center {
  -ms-flex-item-align: center;
      align-self: center;
}

.u-as--fe {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.u-js--right {
  justify-self: right;
}

.u-jc--sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.u-jc--fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.u-jc--fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.u-jc--c {
  justify-content: center;
}
