/* ==========================================================================
   #TEXT
   ========================================================================== */

// Text alignment

.u-txt--ac {
  text-align: center;
}

.u-txt--ar {
  text-align: right;
}

// Text size variations

.u-txt--tiny {

  @include mq($from: mobile) {
    @include font-size(8px, 1.25);
  }

  @include mq($from: tablet) {
    @include font-size(14px);
  }
}

.u-txt--small {

  @include mq($from: mobile) {
    @include font-size(12px);
  }

  @include mq($from: tablet) {
    @include font-size(16px);
  }
}

.u-txt--medium {
  @include mq($from: mobile) {
    @include font-size(16px);
  }

  @include mq($from: desktop) {
    @include font-size(18px);
  }
}

.u-txt--large {
  @include mq($from: mobile) {
    @include font-size(24px);
  }
}

// Text weight variations

.u-txt--w500 {
  font-weight: 500;
}

// Text decoration variations

.u-txt--lt {
  text-decoration: line-through;
}

// Text color variations

.u-txt--blur {
  color: $global-gray;
}
