/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$inuit-wrapper-width: 1270px !default;

.o-wrapper--flush\@not-desktop {

  @include mq($until: desktop) {
    padding: 0;
    max-width: 100%;
  }
}

